{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<form method="post">
    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row justify-content-md-center">
            <div class="col col-lg-3 shadow-lg rounded">
                <h1 class="h2 my-3 fw-normal text-center">BloBlo</h1>

                <div class="form-group my-3">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control is-invalid" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control is-invalid" required>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Ricardami
                    </label>
                </div>
                <div class="form-floating">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-dark text-center position-relative top-0 start-50 translate-middle" type="submit">
                        Entra
                    </button>
                </div>
                <div class="form-floating mb-3 text-center">
                    Non sei ancora registrato? <a href="/register">Registrati</a>
                </div>
            </div>
        </div>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
</form>
{% endblock %}
