{% extends 'base.html.twig' %}

{% block body %}
    {% include "header.html.twig" with {'user': user} %}
    <div class="container mt-5">
        <div class="row justify-content-md-center form-signin">
            <div class="col col-lg-10 shadow-lg rounded">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

                <div class="form-floating mb-3">
                    {{ form_row(form.title, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_row(form.shortDescription, {'attr': {'class': 'form-control', 
                                                                'placeholder': 'Required example textarea',
                                                                'rows': 2 }}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_row(form.body, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Required example textarea',
                                                    'rows': 10
                                                    }
                    }) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_row(form.category, {'attr': {
                                                        'class': 'form-select',
                                                        'required aria-label': 'select example'
                                                        }
                    }) }}
                </div>
                <div class="form-floating form-group mb-3">
                    {{ form_row(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_row(form.invia, {'attr': {'class': 'btn btn-dark justify-content-md-end'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}