{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- https://codepen.io/mrReiha/pen/RwPgLeM -->
    <link href="css/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include "header.html.twig" with {'user': user} %}
    <div class="wrapper">
        <h2><strong>Tutte categorie<span>( {{ categories|length }} )</span></strong></h2>
        <div class="row">
            {% for category in categories %}
                <div class="col">
                    <div class="cards">
                        <figure class="card">
                            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg" />
                            <figcaption>{{ category.getName() }}</figcaption>
                        </figure>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2><strong>Tutti blog<span>( {{ blogs|length }} )</span></strong></h2>

        <div class="news">
            {% for blog in blogs %}
                <a href="{{ path('app_blog_show', {id: blog.id}) }}">
                    <figure class="article">
                        <img src="{{ asset("uploads/"~blog.getImage()) }}" />
                        <figcaption>
                            <h3>{{ blog.getTitle() }}</h3>
                            <p>{{ blog.getShortDescription() }}</p>
                        </figcaption>
                    </figure>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}